In [1]:
import findspark
findspark.init("/Users/max/Drive/spark")

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
# Create a Spark Session
spark = SparkSession.builder.appName("CreditCardSystem").getOrCreate()

23/10/03 17:35:43 WARN Utils: Your hostname, Mahmouds-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.2 instead (on interface en0)
23/10/03 17:35:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/03 17:35:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
json_schema = StructType([
    StructField("FIRST_NAME", StringType(), nullable=True),
    StructField("MIDDLE_NAME", StringType(), nullable=True),
    StructField("LAST_NAME", StringType(), nullable=True),
    StructField("SSN", IntegerType(), nullable=True),
    StructField("CREDIT_CARD_NO", StringType(), nullable=True),
    StructField("APT_NO", StringType(), nullable=True),
    StructField("STREET_NAME", StringType(), nullable=True),
    StructField("CUST_CITY", StringType(), nullable=True),
    StructField("CUST_STATE", StringType(), nullable=True),
    StructField("CUST_COUNTRY", StringType(), nullable=True),
    StructField("CUST_ZIP", StringType(), nullable=True),
    StructField("CUST_PHONE", LongType(), nullable=True), 
    StructField("CUST_EMAIL", StringType(), nullable=True),
    StructField("LAST_UPDATED", TimestampType(), nullable=True)
])


# Read the JSON File from the data folder
customer_data = spark.read.json('/Users/max/Drive/VS_Projects/cap_project/data/cdw_sapp_custmer.json', schema= json_schema)

23/10/03 17:35:59 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [36]:
customer_data.show()

+----------+-----------+---------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|FIRST_NAME|MIDDLE_NAME|LAST_NAME|      SSN|  CREDIT_CARD_NO|APT_NO|      STREET_NAME|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+----------+-----------+---------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|      Alec|         Wm|   Hooper|123456100|4210653310061055|   656|Main Street North|     Natchez|        MS|United States|   39120|   1237818| AHooper@example.com|2018-04-21 09:49:02|
|      Etta|    Brendan|   Holman|123453023|4210653310102868|   829|    Redwood Drive|Wethersfield|        CT|United States|   06109|   1238933| EHolman@example.com|2018-04-21 09:49:02|
|    Wilber|   Ezequiel|   Dunham|123454487|4210653310116272|   683| 12th Street East|     Huntley|        IL|United States|   60142|   1243018| WDunham@example.com|2018-04-21 09:49:02|
|   Eugenio|      Trina|    Hardy|123459758|4210653310195948|   253|Country Club Road|   NewBerlin|        WI|United States|   53151|   1243215|  EHardy@example.com|2018-04-21 09:49:02|
|   Wilfred|        May|    Ayers|123454431|4210653310356919|   301|   Madison Street|      ElPaso|        TX|United States|   79930|   1242074|  WAyers@example.com|2018-04-21 09:49:02|
|      Beau|    Ambrose|  Woodard|123454202|4210653310395982|     3|   Colonial Drive|NorthOlmsted|        OH|United States|   44070|   1242570|BWoodard@example.com|2018-04-21 09:49:02|
|    Sheila|      Larry|     Kemp|123451799|4210653310400536|    84|   Belmont Avenue|      Vienna|        VA|United States|   22180|   1239685|   SKemp@example.com|2018-04-21 09:49:02|
|     Wendy|        Ora|   Hurley|123453875|4210653310459911|   728|     Oxford Court|      Duarte|        CA|United States|   91010|   1238213| WHurley@example.com|2018-04-21 09:49:02|
|      Alec|     Tracie|  Gilmore|123457511|4210653310773972|    81|    Forest Street|      Owosso|        MI|United States|   48867|   1240689|AGilmore@example.com|2018-04-21 09:49:02|
|    Barbra|    Mitchel|      Lau|123457464|4210653310794854|   561|     Court Street|        Zion|        IL|United States|   60099|   1235222|    BLau@example.com|2018-04-21 09:49:02|
|   Edmundo|      Denny|  Thomson|123457639|4210653310817373|   622|    Cypress Court|  Youngstown|        OH|United States|   44512|   1241363|EThomson@example.com|2018-04-21 09:49:02|
|      Elsa|   Isabelle|   Truong|123453242|4210653310844617|   924|  8th Street West| Summerville|        SC|United States|   29483|   1236228| ETruong@example.com|2018-04-21 09:49:02|
|     Homer|      Henry| Mckinney|123454339|4210653311015303|   611|      East Avenue|      ElPaso|        TX|United States|   79930|   1238165|HMckinney@example...|2018-04-21 09:49:02|
|      Rita|     Rickey|     Kidd|123454537|4210653311215039|   680|         Route 44|      Fenton|        MI|United States|   48430|   1234730|   RKidd@example.com|2018-04-21 09:49:02|
|    Amalia|  Heriberto|  Ballard|123452373|4210653311229354|    71|    Warren Street|  Grandville|        MI|United States|   49418|   1242113|ABallard@example.com|2018-04-21 09:49:02|
|     Patty|   Angelita|   Thomas|123455343|4210653311652836|   195|     Jones Street|    YubaCity|        CA|United States|   95993|   1239888| PThomas@example.com|2018-04-21 09:49:02|
|  Josefina|   Dorothea|   Morrow|123451533|4210653311707126|   500|       New Street|   CapeCoral|        FL|United States|   33904|   1240158| JMorrow@example.com|2018-04-21 09:49:02|
|    Nelson|  Jefferson|  Andrews|123459278|4210653311730764|   989|  Division Street|  Brookfield|        WI|United States|   53045|   1241408|NAndrews@example.com|2018-04-21 09:49:02|
|    Miquel|     Maximo|Schneider|123456915|4210653311898082|   810|     Maple Street|    Richmond|        VA|United States|   23223|   1238390|MSchneider@exampl...|2018-04-21 09:49:02|
|    Parker|    Arnulfo|  Tidwell|123453807|4210653312021765|   649|       Eagle Road| WestChester|        PA|United States|   19380|   1235067|PTidwell@example.com|2018-04-21 09:49:02|
+----------+-----------+---------+---------+----------------+------+-----------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
only showing top 20 rows

In [50]:
# Apply Transformations Based on Mapping Document
transformed_data = customer_data.select(
    col("SSN").alias("SSN"),
    initcap(col("FIRST_NAME")).alias("FIRST_NAME"),
    lower(col("MIDDLE_NAME")).alias("MIDDLE_NAME"),
    initcap(col("LAST_NAME")).alias("LAST_NAME"),
    col("CREDIT_CARD_NO").alias("Credit_card_no"),
    concat_ws(", ", col("STREET_NAME"), col("APT_NO")).alias("FULL_STREET_ADDRESS"),
    col("CUST_CITY").alias("CUST_CITY"),
    col("CUST_STATE").alias("CUST_STATE"),
    col("CUST_COUNTRY").alias("CUST_COUNTRY"),
    col("CUST_ZIP").alias("CUST_ZIP"),
    regexp_replace(col("CUST_PHONE").cast("string"), r"(\d{3})(\d{4})", r"($1)$2").alias("CUST_PHONE"),
    col("CUST_EMAIL").alias("CUST_EMAIL"),
    col("LAST_UPDATED").alias("LAST_UPDATED")
)

In [51]:
transformed_data.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_card_no| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|Main Street North...|     Natchez|        MS|United States|   39120| (123)7818| AHooper@example.com|2018-04-21 09:49:02|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  Redwood Drive, 829|Wethersfield|        CT|United States|   06109| (123)8933| EHolman@example.com|2018-04-21 09:49:02|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|12th Street East,...|     Huntley|        IL|United States|   60142| (124)3018| WDunham@example.com|2018-04-21 09:49:02|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|Country Club Road...|   NewBerlin|        WI|United States|   53151| (124)3215|  EHardy@example.com|2018-04-21 09:49:02|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| Madison Street, 301|      ElPaso|        TX|United States|   79930| (124)2074|  WAyers@example.com|2018-04-21 09:49:02|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   Colonial Drive, 3|NorthOlmsted|        OH|United States|   44070| (124)2570|BWoodard@example.com|2018-04-21 09:49:02|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  Belmont Avenue, 84|      Vienna|        VA|United States|   22180| (123)9685|   SKemp@example.com|2018-04-21 09:49:02|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   Oxford Court, 728|      Duarte|        CA|United States|   91010| (123)8213| WHurley@example.com|2018-04-21 09:49:02|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   Forest Street, 81|      Owosso|        MI|United States|   48867| (124)0689|AGilmore@example.com|2018-04-21 09:49:02|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   Court Street, 561|        Zion|        IL|United States|   60099| (123)5222|    BLau@example.com|2018-04-21 09:49:02|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  Cypress Court, 622|  Youngstown|        OH|United States|   44512| (124)1363|EThomson@example.com|2018-04-21 09:49:02|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|8th Street West, 924| Summerville|        SC|United States|   29483| (123)6228| ETruong@example.com|2018-04-21 09:49:02|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    East Avenue, 611|      ElPaso|        TX|United States|   79930| (123)8165|HMckinney@example...|2018-04-21 09:49:02|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       Route 44, 680|      Fenton|        MI|United States|   48430| (123)4730|   RKidd@example.com|2018-04-21 09:49:02|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   Warren Street, 71|  Grandville|        MI|United States|   49418| (124)2113|ABallard@example.com|2018-04-21 09:49:02|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   Jones Street, 195|    YubaCity|        CA|United States|   95993| (123)9888| PThomas@example.com|2018-04-21 09:49:02|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     New Street, 500|   CapeCoral|        FL|United States|   33904| (124)0158| JMorrow@example.com|2018-04-21 09:49:02|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|Division Street, 989|  Brookfield|        WI|United States|   53045| (124)1408|NAndrews@example.com|2018-04-21 09:49:02|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   Maple Street, 810|    Richmond|        VA|United States|   23223| (123)8390|MSchneider@exampl...|2018-04-21 09:49:02|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     Eagle Road, 649| WestChester|        PA|United States|   19380| (123)5067|PTidwell@example.com|2018-04-21 09:49:02|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
only showing top 20 rows

In [52]:
transformed_data.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- Credit_card_no: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = false)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [54]:
config = spark.read.option("multiline", "true").json("/Users/max/Drive/VS_Projects/cap_project/config/config.yaml")


# Write the DataFrame to the RDBMS using the configuration
transformed_data.write \
    .format("jdbc") \
    .option("url", config.select("url").first()[0]) \
    .option("driver", config.select("driver").first()[0]) \
    .option("dbtable", "table010") \
    .option("user", config.select("user").first()[0]) \
    .option("password", config.select("password").first()[0]) \
    .mode("overwrite") \
    .save()